# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

/Library/
/Temp/
/obj/
/Logs/
/UserSettings/
/Builds/
/*.sln
/*.csproj
/.vscode/
/.vs/
